<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #563d7c ! important;color:white;">
  <a class="navbar-brand" style="color:white;" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <h1 style="text-align:center;    margin: auto;
    position: relative;
    right: 13%;">Angular App</h1>
    <h4>Revanth P S</h4>
  </div>
</nav>